APP_NAME="Swantara API"
APP_HOST="localhost"
APP_DEBUG=true
APP_URL=http://localhost:8080
APP_VERSION=dev
APP_PORT=8080
APP_PREFORK=false
APP_TRUSTED_PROXIES=

LOG_LEVEL=info
LOG_FILE=
LOG_FORMAT=pretty
LOG_MAX_SIZE=100
LOG_MAX_AGE=30
LOG_MAX_BACKUPS=3
LOG_COMPRESS=false

DB_NAME=swantara
DB_HOST=localhost
DB_PORT=5432
DB_USER=root
DB_PASSWORD=root
DB_REQUIRE_NON_SUPERUSER=false
DB_CONNECTION_STRING=postgres://${DB_USER}:${DB_PASSWORD}@${DB_HOST}:${DB_PORT}/${DB_NAME}

GOOSE_DRIVER=postgres
GOOSE_DBSTRING=${DB_CONNECTION_STRING}
GOOSE_MIGRATION_DIR=./migrations
GOOSE_TABLE=goose_migrations

BCRYPT_PASSWORD_COST=12

JWT_ACCESS_TOKEN_SECRET=swantara_local_dev
JWT_ACCESS_TOKEN_EXPIRES_IN=30m
JWT_REFRESH_TOKEN_SECRET=your-refresh-secret
JWT_REFRESH_TOKEN_EXPIRES_IN=48h
AUTH_EMAIL_VERIFY_TTL=24h
AUTH_PASSWORD_RESET_TTL=30m

SMTP_HOST=localhost
SMTP_PORT=1025
SMTP_USERNAME=
SMTP_PASSWORD=
SMTP_ENCRYPTION=none
SMTP_FROM_EMAIL=noreply@swantara.com
SMTP_FROM_NAME={{APP_NAME}}

MAIL_USER_VERIFICATION_REDIRECTION=http://localhost:3000/email-verify
MAIL_PASSWORD_RESET_REDIRECTION=http://localhost:3000/password-reset

QUEUE_REDIS_HOST=localhost
QUEUE_REDIS_PORT=6379
QUEUE_REDIS_PASSWORD=
QUEUE_REDIS_DB=0

STORAGE_PATH=./storage
STORAGE_MAX_UPLOAD_SIZE=10485760

RATE_LIMITER_ENABLED=true
RATE_LIMITER_MAX=60
RATE_LIMITER_EXPIRATION=1m
RATE_LIMITER_STORAGE=memory
RATE_LIMITER_REDIS_HOST=localhost
RATE_LIMITER_REDIS_PORT=6379
RATE_LIMITER_REDIS_PASSWORD=
RATE_LIMITER_REDIS_DB=0
